<br/>

{{#link-to "tutorials" class="btn btn-lg"}}Back{{/link-to}}
<br/>
Edit tutorial - {{name}}
<form {{action updateTutorial on="submit"}} class="form-horizontal" role="form">
	<div class="form-group">
    	<label for='name'>Name</label>
    	{{input value=name id='name' class='form-control'}}
    	<label for='domain'>Domain</label>
    	{{input value=domain id='domain' class='form-control'}}
    	<label for='page'>Page</label>
    	{{input value=page id='page' class='form-control'}}
  	</div>
  	<button type="submit" id="save" class="btn btn-primary">Update tutorial</button>
</form>